<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HelpTech</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/home">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="false"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/usuario/create">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="false"></span> Cadastro
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ocorrencia/create">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ocorrencia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quem-somos-nos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quem Somos Nós
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sobre">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sobre
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ocorrencia/list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Ocorrências
            </NavLink>
        </div>
        
    </nav>
</div>


@code{





}