@page "/cadastro"
<form>


<div class="alinhamento">
    <h1>Cadastro</h1>
    <p>Não tem uma conta? <a href="#">Logue aqui</a></p>

    <br>
    <div>
        <label for="email-institucional">EMAIL INSTITUCIONAL</label><br>
        <input type="email" id="email-institucional" name="email-institucional" required>
    </div>
    <br>
    <div>
        <label for="senha">SENHA</label><br>
        <input type="password" id="senha" name="senha">
    </div>
    <br>
    <div>
        <label for="senha">CONFIRME A SENHA</label><br>
        <input type="password" id="confirmacao-senha" name="confirmacao-senha">
    </div>
    <br>
    <br>
    <button>Criar Conta</button>
</div>

</form>
@inherits ComponentBase

@code {
    // string senha = "123456"; // Inicialize com um valor vazio
    // string confirmacaoSenha = "123456"; // Inicialize com um valor vazio

    // void CriarConta()
    // {
    //     if (senha != confirmacaoSenha)
    //     {
    //         alert("As senhas não coincidem");
    //     }
    //     else
    //     {
    //         alert("Conta criada com sucesso");
    //     }
    // }
}
