/* Estilo para o contêiner de alinhamento */
.alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alinha verticalmente ao centro */
    text-align: left; /* Alinha o texto ao centro */
    height: 100vh;
    max-width: 812px;
    margin: 0 auto; /* Centraliza horizontalmente quando a largura da tela é maior que max-width */

}

/* Estilo para os rótulos */
label {
    margin-bottom: 5px;
}

/* Estilo para os campos de entrada */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #808080;
}

/* Estilo para o botão */
button {
    width: auto; /* Altere para 'auto' para permitir que o botão se ajuste ao conteúdo */
    padding: 1rem 4rem 1rem 4rem;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para o link de logue aqui */
a:hover {
    text-decoration: underline; /* Adicione sublinhado ao passar o mouse sobre o link */
}

button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}