@page "/ocorrencia"

<div class="alinhamento">
<h1>CONTE PARA NÓS</h1>
<h4>Preencha as informações<br>
    referentes ao ocorrido!    
</h4>
<div class="menu-geral">
    <label for="area-de-ocorrencia">ÁREA</label>
    <br>
        <div class="area">
            <select id="area-de-ocorrencia">
            <option value="informatica">Informática</option>
            <option value="elétrica">Elétrica</option>
            <option value="outros">Outros</option>
        </select>
        </div>
<br><br>
    <label for="data-do-ocorrido">DATA</label>
    <br>
    <input type="date" id="data" name="data">
<br><br>
    <label for="descricao">DESCRIÇÃO</label>
    <br>
    <textarea id="descricao" name="descricao" rows="4" cols="50">
    </textarea>
<br><br>
</div>
<button>Enviar</button>
</div>
@code {

}
