@page "/verifique"

<div class="alinhamento">
<h3>Verifique</h3>
<br>
<p>Coloque o código que mandamos para<br>
   o seu email institucional para garantir<br>
   que é você!</p>

<div>
<label for="codigo">CÓDIGO</label><br>
<input type="text" id="codigo" name="codigo">
</div>
<br>
<button>Verificar</button>
</div>


@code {

}
