/* Estilos para a p�gina de verifica��o */

/* Estilo para o cont�iner de alinhamento */
.alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alinha verticalmente ao centro */
    text-align: center; /* Alinha o texto ao centro */
    height: 100vh;
    max-width: 812px;
    margin: 0 auto
}

    /* Estilo para o t�tulo "Verifique" */
    .alinhamento h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    /* Estilo para o par�grafo de instru��es */
    .alinhamento p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    /* Estilo para o cont�iner do c�digo */
    .alinhamento div {
        width: 300px;
    }

/* Estilo para as labels */
label {
    font-weight: bold;
}

/* Estilo para o campo de entrada do c�digo */
input[type="text"] {
    width: auto;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #808080;
}

/* Estilo para o bot�o "Verificar" */
button {
    width: 207px;
    padding: 12px;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}
