@page "/quem-somos-nos"


<div class="row w-100">
<h3>Quem Somos Nós?</h3>

<!-- AboutUs.razor -->

    <div class="col-md-4 mb-3 w-100">
        <RadzenCard Style="width: 100%; height: 15rem;">
           
                <h5 class="card-title">Equipe de Desenvolvimento</h5>
          
                <p class="card-text">
                    Somos alunos do curso de desenvolvimento de sistemas, esse é o nosso projeto de TCC. Agora vou falar um pouco sobre nós, os desenvolvedores.

                </p>
        </RadzenCard>
    </div>
    
    <RadzenColumn>
        <h3>Desenvolvedores</h3>
    </RadzenColumn>

   <RadzenRow>

   <RadzenColumn>
        <div class="col-md-10 mb-5">
          <RadzenCard Style="width: 18rem; height: 25rem;">
              <h5 class="card-title">Luiz</h5>

              <p class="card-text">Olá! Meu nome é Luiz, e faço parte da equipe de desenvolvimento deste projeto, a programação não é apenas uma profissão, mas também um hobby apaixonante. Este projeto foi uma jornada essencial para o aprimoramento das minhas habilidades, proporcionando um ambiente desafiador e enriquecedor. Estou confiante de que nosso trabalho será valioso e impactante para aqueles que o utilizarem. </p>

          </RadzenCard>
        </div>
    </RadzenColumn>


    <RadzenColumn>
    <div class="col-md-20 mb-10">
        <RadzenCard Style="width: 18rem; height: 25rem;">

           <h5 class="card-title">Pedro</h5>

           <p class="card-text"> Olá! Me chamo Pedro, e sou um dos desenvolvedores deste projeto. Tenho uma paixão por programação que transcende o âmbito profissional. Este projeto foi uma oportunidade incrível para aprimorar diversas habilidades e expandir meus conhecimentos na área. Estou confiante de que nosso trabalho será útil e benéfico para muitas pessoas. </p>
            
        </RadzenCard>
    </div>
    </RadzenColumn>
    <RadzenColumn>
    <div class="col-md-10 mb-5">
        <RadzenCard Style="width: 18rem; height: 25rem;">

           <h5 class="card-title">Vitor</h5>

                    <p class="card-text"> Olá!! Eu sou o Vitor, sou um dos desenvolvedores desse projeto ,falando sobre mim eu gosto muito de informática e decidi partir para a parte de programação, não estou muito bom ainda mais sempre aprendendo mais e se esforçando ,esse projeto está sendo essencial para desenvolver muitas habilidades e estou aprendendo muito.</p>
         
        </RadzenCard>
    </div>
    </RadzenColumn>

    <RadzenColumn>
         <div class="col-md-10 mb-5">
             <RadzenCard Style="width: 18rem; height: 25rem;">

                    <h5 class="card-title">William</h5>

                    <p class="card-text"> Olá!! Eu sou o William, sou um dos desenvolvedores desse projeto, falando sobre mim eu gosto de programar, além de profissionalmente levo isso como um hobby. Esse projeto foi essencial para desenvolver muitas habilidades, espero que ajude!. </p>

             </RadzenCard>
         </div>
    </RadzenColumn>

    </RadzenRow>
</div>

@code {

 }


