@page "/Sobre"

 <RadzenColumn>

    <h3>Sobre o Projeto</h3>

 </RadzenColumn>


<RadzenRow>

    <RadzenColumn>
        <div class="col-md-10 mb-5">
            <RadzenText Style="text-align: justify;">
              
                <p class="text">
                    O projeto em questão foi concebido e desenvolvido por um grupo de alunos como trabalho de conclusão de curso (TCC). A ideia central por trás do projeto é a criação de um sistema que permita o registro de ocorrências relacionadas a problemas ou incidentes ocorridos dentro da instituição, especificamente na ETEC.

                    A diversidade de ocorrências é vasta, podendo abranger desde situações simples, como a falta de um mouse, até problemas mais complexos, como a quebra de uma lâmpada em uma sala de aula. Com essa plataforma, os usuários terão a capacidade de registrar essas ocorrências de forma rápida e eficiente.

                    Uma das principais vantagens desse sistema é a agilidade na comunicação dos problemas para os responsáveis pela sua resolução, que geralmente são os docentes ou a equipe responsável pela infraestrutura da escola. Ao ter acesso imediato às ocorrências registradas, eles podem agir com rapidez para resolver os problemas, minimizando qualquer impacto negativo na rotina escolar.

                    Sem um sistema centralizado para o registro de ocorrências, muitos problemas podem passar despercebidos ou demorar mais tempo para serem solucionados, o que pode afetar a qualidade do ambiente educacional e o bem-estar dos alunos e professores. Portanto, o objetivo principal deste projeto é preencher essa lacuna, fornecendo uma ferramenta eficaz para gerenciar e solucionar ocorrências de forma ágil e eficiente.

                    Em resumo, o nosso propósito com este aplicativo é criar uma solução que facilite o processo de comunicação e resolução de problemas dentro da ETEC, contribuindo para um ambiente escolar mais seguro, organizado e propício ao aprendizado.
                </p>

            </RadzenText>
        </div>
    </RadzenColumn>

</RadzenRow>
    
   

@code {

}
